--
-- PostgreSQL database dump
--

\restrict HCF77KJC7c45q0zf6rItLlhCtq5iq65DMbyNDjLBnEvHvxRrPOk5ip6DLLa4svk

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO spmo_admin;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO spmo_admin;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO spmo_admin;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO spmo_admin;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO spmo_admin;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO spmo_admin;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO spmo_admin;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO spmo_admin;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO spmo_admin;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO spmo_admin;

--
-- Name: inventory_asset; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.inventory_asset (
    id bigint NOT NULL,
    property_number character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    date_acquired date NOT NULL,
    acquisition_cost numeric(12,2),
    assigned_office character varying(255) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    asset_class character varying(50) NOT NULL,
    asset_nature character varying(50) NOT NULL,
    accountable_firstname character varying(50),
    accountable_middle_initial character varying(50),
    accountable_surname character varying(50),
    attachment character varying(100),
    cu character varying(50),
    image_condition character varying(100),
    image_serial character varying(100),
    latitude double precision,
    longitude double precision,
    item_id character varying(50)
);


ALTER TABLE public.inventory_asset OWNER TO spmo_admin;

--
-- Name: inventory_asset_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.inventory_asset ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_asset_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_assetbatch; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.inventory_assetbatch (
    id bigint NOT NULL,
    transaction_id character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    status character varying(20) NOT NULL,
    remarks text,
    is_posted boolean NOT NULL,
    requestor_id integer NOT NULL,
    admin_remarks text,
    doc_1_file character varying(100),
    doc_1_name character varying(100),
    doc_2_file character varying(100),
    doc_2_name character varying(100),
    doc_3_file character varying(100),
    doc_3_name character varying(100),
    doc_4_file character varying(100),
    doc_4_name character varying(100),
    doc_5_file character varying(100),
    doc_5_name character varying(100),
    acceptance_report_number character varying(100),
    po_number character varying(100),
    requesting_unit character varying(150),
    sales_invoice_number character varying(100),
    supplier_name character varying(200),
    fund_cluster character varying(100),
    ups_dv_number character varying(100)
);


ALTER TABLE public.inventory_assetbatch OWNER TO spmo_admin;

--
-- Name: inventory_assetbatch_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.inventory_assetbatch ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_assetbatch_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_assettransferrequest; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.inventory_assettransferrequest (
    id bigint NOT NULL,
    transaction_id character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    status character varying(20) NOT NULL,
    current_officer character varying(150) NOT NULL,
    new_officer_firstname character varying(100) NOT NULL,
    new_officer_surname character varying(100) NOT NULL,
    remarks text NOT NULL,
    admin_remarks text,
    document_1 character varying(100) NOT NULL,
    document_2 character varying(100) NOT NULL,
    asset_id bigint NOT NULL,
    requestor_id integer NOT NULL
);


ALTER TABLE public.inventory_assettransferrequest OWNER TO spmo_admin;

--
-- Name: inventory_assettransferrequest_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.inventory_assettransferrequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_assettransferrequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_batchitem; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.inventory_batchitem (
    id bigint NOT NULL,
    unit character varying(50),
    quantity integer NOT NULL,
    description character varying(255) NOT NULL,
    nature_of_expense character varying(100),
    reference_number character varying(100),
    amount numeric(12,2) NOT NULL,
    batch_id bigint NOT NULL,
    image character varying(100),
    CONSTRAINT inventory_batchitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.inventory_batchitem OWNER TO spmo_admin;

--
-- Name: inventory_batchitem_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.inventory_batchitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_batchitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_inspectionrequest; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.inventory_inspectionrequest (
    id bigint NOT NULL,
    transaction_id character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    notes text NOT NULL,
    status character varying(50) NOT NULL,
    document_1 character varying(100),
    document_2 character varying(100),
    asset_id bigint NOT NULL,
    requestor_id integer NOT NULL,
    admin_remarks text,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.inventory_inspectionrequest OWNER TO spmo_admin;

--
-- Name: inventory_inspectionrequest_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.inventory_inspectionrequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_inspectionrequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_servicelog; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.inventory_servicelog (
    id bigint NOT NULL,
    service_date date NOT NULL,
    service_type character varying(50) NOT NULL,
    description text NOT NULL,
    service_provider character varying(150) NOT NULL,
    cost numeric(12,2) NOT NULL,
    next_service_date date,
    service_document character varying(100),
    created_at timestamp with time zone NOT NULL,
    asset_id bigint NOT NULL
);


ALTER TABLE public.inventory_servicelog OWNER TO spmo_admin;

--
-- Name: inventory_servicelog_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.inventory_servicelog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_servicelog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_userprofile; Type: TABLE; Schema: public; Owner: spmo_admin
--

CREATE TABLE public.inventory_userprofile (
    id bigint NOT NULL,
    office character varying(100) NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.inventory_userprofile OWNER TO spmo_admin;

--
-- Name: inventory_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: spmo_admin
--

ALTER TABLE public.inventory_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
3	pbkdf2_sha256$1000000$Egafqfdh30GRy8rnfSgibq$mIWkOQrf9GjFmlYSbr9WwpIPtb5dI/QdSq6utHt00UA=	2026-02-03 08:11:03.278072+00	t	test_superuser	VP	Access		t	t	2026-01-29 05:52:04+00
1	pbkdf2_sha256$1000000$73mDeKXr2CRsXNHZmuKYm5$Xon+dF4REFvnQN8vHOazYNoutAVKH0KtECuxie00eO4=	2026-02-12 06:37:49.703532+00	t	grootadmin			grootadmin@up.edu.ph	t	t	2026-01-13 08:54:44.360302+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	inventory	asset
8	inventory	userprofile
9	inventory	assetbatch
10	inventory	inspectionrequest
11	inventory	assettransferrequest
12	inventory	batchitem
13	inventory	servicelog
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--



--
-- Data for Name: inventory_asset; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--



--
-- Data for Name: inventory_assetbatch; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--

COPY public.inventory_assetbatch (id, transaction_id, created_at, status, remarks, is_posted, requestor_id, admin_remarks, doc_1_file, doc_1_name, doc_2_file, doc_2_name, doc_3_file, doc_3_name, doc_4_file, doc_4_name, doc_5_file, doc_5_name, acceptance_report_number, po_number, requesting_unit, sales_invoice_number, supplier_name, fund_cluster, ups_dv_number) FROM stdin;
\.


--
-- Data for Name: inventory_assettransferrequest; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--

COPY public.inventory_assettransferrequest (id, transaction_id, created_at, status, current_officer, new_officer_firstname, new_officer_surname, remarks, admin_remarks, document_1, document_2, asset_id, requestor_id) FROM stdin;
\.


--
-- Data for Name: inventory_batchitem; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--

COPY public.inventory_batchitem (id, unit, quantity, description, nature_of_expense, reference_number, amount, batch_id, image) FROM stdin;
\.


--
-- Data for Name: inventory_inspectionrequest; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--

COPY public.inventory_inspectionrequest (id, transaction_id, created_at, notes, status, document_1, document_2, asset_id, requestor_id, admin_remarks, updated_at) FROM stdin;
\.


--
-- Data for Name: inventory_servicelog; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--

COPY public.inventory_servicelog (id, service_date, service_type, description, service_provider, cost, next_service_date, service_document, created_at, asset_id) FROM stdin;
\.


--
-- Data for Name: inventory_userprofile; Type: TABLE DATA; Schema: public; Owner: spmo_admin
--

COPY public.inventory_userprofile (id, office, user_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 52, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 3, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1620, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 13, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 36, true);


--
-- Name: inventory_asset_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.inventory_asset_id_seq', 25904, true);


--
-- Name: inventory_assetbatch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.inventory_assetbatch_id_seq', 1, false);


--
-- Name: inventory_assettransferrequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.inventory_assettransferrequest_id_seq', 1, false);


--
-- Name: inventory_batchitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.inventory_batchitem_id_seq', 1, false);


--
-- Name: inventory_inspectionrequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.inventory_inspectionrequest_id_seq', 1, false);


--
-- Name: inventory_servicelog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.inventory_servicelog_id_seq', 1, false);


--
-- Name: inventory_userprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spmo_admin
--

SELECT pg_catalog.setval('public.inventory_userprofile_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: inventory_asset inventory_asset_item_id_key; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_asset
    ADD CONSTRAINT inventory_asset_item_id_key UNIQUE (item_id);


--
-- Name: inventory_asset inventory_asset_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_asset
    ADD CONSTRAINT inventory_asset_pkey PRIMARY KEY (id);


--
-- Name: inventory_asset inventory_asset_property_number_key; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_asset
    ADD CONSTRAINT inventory_asset_property_number_key UNIQUE (property_number);


--
-- Name: inventory_assetbatch inventory_assetbatch_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_assetbatch
    ADD CONSTRAINT inventory_assetbatch_pkey PRIMARY KEY (id);


--
-- Name: inventory_assetbatch inventory_assetbatch_transaction_id_key; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_assetbatch
    ADD CONSTRAINT inventory_assetbatch_transaction_id_key UNIQUE (transaction_id);


--
-- Name: inventory_assettransferrequest inventory_assettransferrequest_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_assettransferrequest
    ADD CONSTRAINT inventory_assettransferrequest_pkey PRIMARY KEY (id);


--
-- Name: inventory_assettransferrequest inventory_assettransferrequest_transaction_id_key; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_assettransferrequest
    ADD CONSTRAINT inventory_assettransferrequest_transaction_id_key UNIQUE (transaction_id);


--
-- Name: inventory_batchitem inventory_batchitem_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_batchitem
    ADD CONSTRAINT inventory_batchitem_pkey PRIMARY KEY (id);


--
-- Name: inventory_inspectionrequest inventory_inspectionrequest_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_inspectionrequest
    ADD CONSTRAINT inventory_inspectionrequest_pkey PRIMARY KEY (id);


--
-- Name: inventory_inspectionrequest inventory_inspectionrequest_transaction_id_key; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_inspectionrequest
    ADD CONSTRAINT inventory_inspectionrequest_transaction_id_key UNIQUE (transaction_id);


--
-- Name: inventory_servicelog inventory_servicelog_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_servicelog
    ADD CONSTRAINT inventory_servicelog_pkey PRIMARY KEY (id);


--
-- Name: inventory_userprofile inventory_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_userprofile
    ADD CONSTRAINT inventory_userprofile_pkey PRIMARY KEY (id);


--
-- Name: inventory_userprofile inventory_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_userprofile
    ADD CONSTRAINT inventory_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: inventory_asset_item_id_a5bd8a7c_like; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX inventory_asset_item_id_a5bd8a7c_like ON public.inventory_asset USING btree (item_id varchar_pattern_ops);


--
-- Name: inventory_asset_property_number_e11ab44a_like; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX inventory_asset_property_number_e11ab44a_like ON public.inventory_asset USING btree (property_number varchar_pattern_ops);


--
-- Name: inventory_assetbatch_requestor_id_7777c423; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX inventory_assetbatch_requestor_id_7777c423 ON public.inventory_assetbatch USING btree (requestor_id);


--
-- Name: inventory_assetbatch_transaction_id_ecf83fc0_like; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX inventory_assetbatch_transaction_id_ecf83fc0_like ON public.inventory_assetbatch USING btree (transaction_id varchar_pattern_ops);


--
-- Name: inventory_assettransferrequest_asset_id_2b20ba47; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX inventory_assettransferrequest_asset_id_2b20ba47 ON public.inventory_assettransferrequest USING btree (asset_id);


--
-- Name: inventory_assettransferrequest_requestor_id_970a4f4a; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX inventory_assettransferrequest_requestor_id_970a4f4a ON public.inventory_assettransferrequest USING btree (requestor_id);


--
-- Name: inventory_assettransferrequest_transaction_id_6dab1109_like; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX inventory_assettransferrequest_transaction_id_6dab1109_like ON public.inventory_assettransferrequest USING btree (transaction_id varchar_pattern_ops);


--
-- Name: inventory_batchitem_batch_id_d110dcde; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX inventory_batchitem_batch_id_d110dcde ON public.inventory_batchitem USING btree (batch_id);


--
-- Name: inventory_inspectionrequest_asset_id_b37b4f00; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX inventory_inspectionrequest_asset_id_b37b4f00 ON public.inventory_inspectionrequest USING btree (asset_id);


--
-- Name: inventory_inspectionrequest_requestor_id_88b8f481; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX inventory_inspectionrequest_requestor_id_88b8f481 ON public.inventory_inspectionrequest USING btree (requestor_id);


--
-- Name: inventory_inspectionrequest_transaction_id_fbf19944_like; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX inventory_inspectionrequest_transaction_id_fbf19944_like ON public.inventory_inspectionrequest USING btree (transaction_id varchar_pattern_ops);


--
-- Name: inventory_servicelog_asset_id_ea8a1d41; Type: INDEX; Schema: public; Owner: spmo_admin
--

CREATE INDEX inventory_servicelog_asset_id_ea8a1d41 ON public.inventory_servicelog USING btree (asset_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_assetbatch inventory_assetbatch_requestor_id_7777c423_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_assetbatch
    ADD CONSTRAINT inventory_assetbatch_requestor_id_7777c423_fk_auth_user_id FOREIGN KEY (requestor_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_assettransferrequest inventory_assettrans_asset_id_2b20ba47_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_assettransferrequest
    ADD CONSTRAINT inventory_assettrans_asset_id_2b20ba47_fk_inventory FOREIGN KEY (asset_id) REFERENCES public.inventory_asset(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_assettransferrequest inventory_assettrans_requestor_id_970a4f4a_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_assettransferrequest
    ADD CONSTRAINT inventory_assettrans_requestor_id_970a4f4a_fk_auth_user FOREIGN KEY (requestor_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_batchitem inventory_batchitem_batch_id_d110dcde_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_batchitem
    ADD CONSTRAINT inventory_batchitem_batch_id_d110dcde_fk_inventory FOREIGN KEY (batch_id) REFERENCES public.inventory_assetbatch(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_inspectionrequest inventory_inspection_asset_id_b37b4f00_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_inspectionrequest
    ADD CONSTRAINT inventory_inspection_asset_id_b37b4f00_fk_inventory FOREIGN KEY (asset_id) REFERENCES public.inventory_asset(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_inspectionrequest inventory_inspection_requestor_id_88b8f481_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_inspectionrequest
    ADD CONSTRAINT inventory_inspection_requestor_id_88b8f481_fk_auth_user FOREIGN KEY (requestor_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_servicelog inventory_servicelog_asset_id_ea8a1d41_fk_inventory_asset_id; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_servicelog
    ADD CONSTRAINT inventory_servicelog_asset_id_ea8a1d41_fk_inventory_asset_id FOREIGN KEY (asset_id) REFERENCES public.inventory_asset(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_userprofile inventory_userprofile_user_id_69d1daa8_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: spmo_admin
--

ALTER TABLE ONLY public.inventory_userprofile
    ADD CONSTRAINT inventory_userprofile_user_id_69d1daa8_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict HCF77KJC7c45q0zf6rItLlhCtq5iq65DMbyNDjLBnEvHvxRrPOk5ip6DLLa4svk

